<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
//ans = admin nav selection


</script>
<div id="adminPage">



   
    <span class="logoutButton">  
  		<%= link_to "SIGN OUT", {:action => 'destroy', :controller => 		'sessions', :class => "btn btn-primary btn-large" } %> 
    </span>    
</div>