/*Imported Fonts*/

@font-face {
			font-family: 'Narrator';
			src: url('narrator.eot');
			src: url('narrator.eot?#iefix') format('embedded-opentype'),
				 url('narrator.woff') format('woff'),
				 url('narrator.ttf') format('truetype'),
				 url('narrator.svg#narrator') format('svg');
			font-weight: normal;
			font-style: normal;
		}

/* Primary Wrapping Elements */
body {
		background-image: url("green-wallpaper.jpeg");  
		font-size: 12px; 
		font-family: "Lucida Sans Unicode";
		}
#main, #aptMenuTable {
		position: relative; 
		width: 950px; 
		height: 1000px; 
		top: -175px; 
		font-size: 15px;
		margin: 0 auto; 
		font-family: "Narrator";
		background-color: rgba(0,0,0,0.71);
		color: white; 
		opacity: 0.9;
		}
#show {
		top: -40px;
		right: 8%; 
		position: relative; 
		}
#showWrapper {
		position: relative; 
		width: 960px; 
		height: 1200px; 
		top: -215px; 
		margin: 0 auto;
		padding: 20px; 
		background-color: rgba(0,0,0,0.71);
		color: white; 
		opacity: 0.9;
		}
#adminPage{
		float:center; 
		background-color: black; 
		opacity: 0.7; 
		color:white;  
		text-align: center; 
		font-size: 15px
		}

/* Navigation */
nav {
		letter-spacing: 10px; 
		z-index: -10; 
		width: 600px; 
		position: absolute; 
		margin: 0 auto; 
		left: 400px; 
		top: -70px; 
		z-index: 4;
		opacity: 1.0;
		}
navApt {
		letter-spacing: 10px; 
		z-index: -10; 
		width: 600px; 
		position: absolute; 
		margin: 0 auto; 
		left: 400px; 
		top: -50px; 
		z-index: 4
		}
navShow {
		position: relative;  
		letter-spacing: 10px; 
		z-index: 10; 
		width: 600px; 
		position: relative; 
		margin: 0 auto; 
		left: 25%;
		top: 150px;
		}
.home:hover {opacity:1.4;}
/* Headers */
.homeHeader {
		width: 400px; 
		margin: 0 auto; 
		color: white; 
		font-size: 50px;
		text-shadow: none; 
		font-weight: bold;
		font-family:"Bell MT";
		word-spacing: -7px;
		padding-bottom: 15px; 
		position: absolute; 
		top: -55px;  
		z-index: 5
		}
.aptHeader {
		width: 400px; 
		margin: 0 auto; 
		color: white; 
		font-size: 50px;
		text-shadow: none; 
		font-weight: bold;
		font-family:"Bell MT";
		word-spacing: -7px;
		position: absolute; 
		top: -25px;  
		z-index: 5
		}
/* Links & Link Attributes */
.homeHeader > a:visited {color: white;}
.homeHeader > a:link {color: white;}
.aptHeader > a:visited {color: white;}
.aptHeader, .aptHeader > a:link {color: white;}
a:link,a:visited {color:#599100;text-decoration:none;}
a:hover {color: white}


#table {border: solid 1px white;}
/* Home-Page Categories */
#forms {
		width: 800px; 
		padding: 100px; 
		margin: 0 auto; 
		position: relative; 
		top: -50px;
		}
#landlords {
		text-align: left; 
		padding: 100px; 
		postion: relative; 
		top:1250px
		}
#aboutUs{
		color: white; 
		width: 800px; 
		line-height: -15px;
		position: relative;
		margin: 0 auto; 
		top: -140px;
		 }
#contactUs {
		text-align: center;
		position: relative;
		top: 50px;
		}
#footer {
		font-size: 10px; 
		color: white; 
		position: absolute; 
		top: 1000px;  
		margin: 0 auto; 
		width: 900px;  
		text-align: center;
		}
#home {
		position: relative;
		top: 300px;
}
/* Home-Page Elements */
#map {
		position:relative; 
		z-index: 1; 
		left: -180px; 
		top: -350px
		}
#agents {
		position: relative; 
		left: 250px; 
		top: 20px;
		}
#mapInfo{
		text-align: left; 
		position: relative; 
		margin: 0 auto; 
		left: 300px; 
		color: white 
		}
.equalHousingPic{
		height: 50px; 
		width: 50px
		}
.agentName {font-weight: bold}

/* Apartment Menu Elements */
.menuSel {
		background-color: #2E272A;
		height: 500px; 
		position:relative; 
		top:15px; 
		font-size: 15px; 
		padding: 10px; 
		border-radius: 20px;
		}
.menuSel:hover {background-color: #5d4f55;}
#aptMenu {
		background-color: #2E272A; 
		z-index: 3; 
		letter-spacing: 1px; 
		width: 950px; 
		height: 50px;  
		position: relative; 
		margin: 0 auto;
		top: 100px; 
		}
/* Apartment Elements */
#showDescription {
		position: relative;
		top: 70px;
		width: 800px;
		margin: 0 auto;
		}
/* Logged in Elements */
.logoutButton {
		float: left; 
		position: relative; 
		top: -130px; 
		left: 40px;
		}
#login{
		float:center; 
		background-color:black; 
		opacity: 0.7;  
		height: 250px; 
		text-align: center; 
		float: center; 
		color: white; 
		font-size: 14px
		}
.backButton {position: absolute; left: -125px; top: 125px}

/* Picture Slide Elements */

#showPictureSlide {
		position: relative;
		margin: 0 auto;
		left: 10%;
		top: 50px
		}


/*Table Elements */
table {
		margin: 0 auto; 
		width: 800px;
		}
#adminApartmentTable{
		float:center; 
		background-color:black; 
		opacity: 0.7; 
		color:white; 
		padding: 15px;
		position: relative;
		top: -100px;
		border: solid 1px white;
		}
#adminUserTable{
		float:center; 
		background-color:black; 
		opacity: 0.7; 
		color:white; 
		padding: 15px
		}
td {padding-bottom: 50px; padding-right: 10px }
th {padding: 13px}
tr { padding: 10px; }




#general {float:center; top: 200px; background-color:black; opacity: 0.7;}

.form-file:hover {opacity: 0.8;}
.hovApart {position: relative; z-index: 2;}
.apartments {position: relative; z-index: 3;}
#formApt {text-align: left; padding: 40px}


#aptList{background-color: white; opacity: 0.5; color: black; width: 350px; text-align: left; padding: 20px}

b {color :#599100;}

/* Home Slideshow */
#slideshow {	
   		position:absolute;
   		height:360px;
   		width: 650px;
   		right: -95px;
   		overflow: hidden;
   		z-index: 3;
}
#slideshow IMG {
    	position:absolute;
    	top:0;
    	left:0;
    	z-index:8;
    	opacity:0.0;
}
#slideshow IMG.active {
    	z-index:10;
    	opacity:1.0;
}
#slideshow IMG.last-active {z-index:9;}

