/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}
#aptAll, #studio, #oneBdr, #twoBdr, #threeBdr, #fourBdr
{
	font-family: "Trebuchet MS";
	font-size: 12px;
	margin: 0 auto;
	width: 530px;
	text-align: left;
	border-collapse: collapse;
	border: solid 10px #2E272A;
	position: relative;
	top: 95px;
}
#aptAll th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	
	
	color: white;
	padding-bottom: 10px;
}
#aptAll td
{
	padding: 8px;
	background: #2E272A; 
	border-bottom: 1px solid #5d4f55;
	color: white;
	border-top: 1px solid transparent;
}
#aptAll tr:hover td
{
	background: #5d4f55;
	color: white;
}

#studio th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	
	color: white;
}
#studio td
{
	padding: 8px;
	background: #2E272A; 
	
	color: white;
	border-top: 1px solid transparent;
}
#studio tr:hover td
{
	background: rgba(228,228,228,0);;
	color: white;
}

#oneBdr th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	
	color: white;
}
#oneBdr td
{
	padding: 8px;
	background: #2E272A; 
	
	color: white;
	border-top: 1px solid transparent;
}
#oneBdr tr:hover td
{
	background: #5d4f55;;
	color: white;
}

#twoBdr th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	
	color: white;
}
#twoBdr td
{
	padding: 8px;
	background: #2E272A; 
	
	color: white;
	border-top: 1px solid transparent;
}
#twoBdr tr:hover td
{
	background: #5d4f55;;
	color: white;
}

#threeBdr th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	
	color: white;
}
#threeBdr td
{
	padding: 8px;
	background: #2E272A; 
	
	color: white;
	border-top: 1px solid transparent;
}
#threeBdr tr:hover td
{
	background: #5d4f55;;
	color: white;
}

#fourBdr th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	
	color: white;
}
#fourBdr td
{
	padding: 8px;
	background: #2E272A; 
	
	color: white;
	border-top: 1px solid transparent;
}
#fourBdr tr:hover td
{
	background: #5d4f55;;
	color: white;
}



