/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}

#aptAll, #aptStudio, #aptOneBdr, #aptTwoBdr, #aptThreeBdr, #aptFourPlusBdr
	{	
	font-family: "Trebuchet MS";
	font-size: 12px;
	margin: 0 auto;
	width: 830px;

	color: #faffea;
	font-family: "Trebuchet MS";
	text-align: left;
	border-collapse: collapse;
	position: relative;
	border-spacing:0px 50px;
	border-radius: 10px;
	}

.td {
	height: 60px;
	text-overflow: clip;
	overflow: hidden;
	}
.tablePicture {float: left;}
#tableDescription 	
	{
	height: 70px;
	white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	padding: 10px;
	}
	
.tableHeader {
	color:  #599100; 
	font-weight: bold;
	font-size: 15px;
	}
hr {color:  #599100; background: #638400; border: solid 0px; height: 2px;}
.tablePic {vertical-align: middle;}



