/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}

#aptAll, #studio, #oneBdr, #twoBdr, #threeBdr, #fourBdr
	{	
	font-family: "Trebuchet MS";
	font-size: 12px;
	margin: 0 auto;
	width: 830px;
	background: #D8DEAE;
	color: black;
	font-family: "Trebuchet MS";
	text-align: left;
	border-collapse: collapse;
	position: relative;
	border-spacing:0px 50px;
	border-radius: 10px;
	}

.td {
	height: 60px;
	text-overflow: clip;
	overflow: hidden;
	}
.tablePicture {float: left;}
#tableDescription 	
	{
	height: 70px;
	white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	padding: 10px;
	}
	
.tableHeader {
	color: #842727; 
	font-weight: bold;
	font-size: 15px;
	}
.tablePic {vertical-align: middle;}



#studio th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	
	
	color: #9DBA1A
}
#studio td
{
	padding: 8px;
	color: #9DBA1A;
	border-top: 1px solid transparent;
}
#studio tr:hover td
{
	background: rgba(228,228,228,0);;
	color: white;
}

#oneBdr th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	
	color: white;
}
#oneBdr td
{
	padding: 8px;
	color: white;
	border-top: 1px solid transparent;
}
#oneBdr tr:hover td
{
	background: #5d4f55;;
	color: white;
}

#twoBdr th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	
	color: white;
}
#twoBdr td
{
	padding: 8px;
	color: white;
	border-top: 1px solid transparent;
}
#twoBdr tr:hover td
{
	background: #5d4f55;;
	color: white;
}

#threeBdr th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	
	color: white;
}
#threeBdr td
{
	padding: 8px;
	color: white;
	border-top: 1px solid transparent;
}
#threeBdr tr:hover td
{
	background: #5d4f55;
	color: white;
}

#fourBdr th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	
	color: white;
}
#fourBdr td
{
	padding: 8px;
	color: white;
	border-top: 1px solid transparent;
}
#fourBdr tr:hover td
{
	background: #5d4f55;;
	color: white;
}



