<div id="adminApartmentTable">

<%= render  :partial => 'apartments/index', :locals => {:apartments 			=> 	@apartments}%>

<br />

<%= link_to 'New Apartment', new_apartment_path %><br /><br />
<%= link_to 'Back', :action=>'admin', :controller=>'main' %>
</div>
