<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="assets/global.css"  />
<link rel="stylesheet" type="text/css" href="livewell.css"  />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="livewell.js"></script>
  <title>Live Well Chicago L.L.C</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><div id="banner"><img src="assets/banner.png"></div></header> <br /><br /><br /><br /><br /><br /><br />
<%= yield %>

</body>
</html>
